.loginContainer {
  width: 100%;
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
}

.loginContainer form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
