.section {
  height: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0 2rem;
  position: relative;
}

.top i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  color: var(--amarelo);
  cursor: pointer;
}

.top i:hover {
  transform: scale(1.1);
}

.section img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 10px var(--roxo);
  object-fit: cover;
}

.section form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
