footer {
    background-color: #FFC800;
    width: 100vw;
    position: relative;
    bottom: 0;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.itemLeft, .itemRight {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    padding: 0 2rem;
}

.footerItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerItem span,.footerItem p, .footerItem .bi {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: .9rem;
    cursor: pointer;
}

.footerItem .bi {
    font-size: 1rem;
}

.footerItem span:hover, .footerItem .bi:hover {
    color: rgba(0, 0, 0, 0.8);
}

.footerItem img {
    width: 100px;
}

.footerTitle {
    text-transform: uppercase;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.6);
}

.footerSocial {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.marcablack {
    margin-top: 1rem;
}


@media (max-width: 768px) {
    .footerContainer {
        padding: .5rem 1rem;
        gap: 1rem;
    }

    .footerItem span {
        display: none;
    }

    .itemLeft, .itemRight {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    .itemRight {
        align-items: flex-end;
    }
}
