.ajudarContainer {
  display: flex;
  align-items: center;
  align-self: center;
  font-family: "montserrat" sans-serif;
  color: #9c528b;
}

.ajudarContainer span {
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.socialItem {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  color: #9c528b;
}

.socialItem .bi {
  cursor: pointer;
}

.socialItem a {
  text-decoration: none;
  color: #9c528b;
  transition: ease-in-out 0.2s;
}

.socialItem a:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .ajudarContainer {
    flex-direction: column;
    padding: 1rem;
  }

  .qrcode {
    display: none;
  }
}
