.main {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 2rem;
  gap: 2rem;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.sectionUsuario {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--roxo);
}

.sectionUsuario img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: solid 5px var(--amarelo);
  border-radius: 50%;
}

.sectionUsuario i {
  width: 80px;
  height: 80px;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionGatos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sectionGatos span {
  width: 100%;
  color: var(--roxo);
  text-align: center;
}

.sectionGatos ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.sectionGatos ul li {
  display: flex;
  justify-content: space-between;
  background-color: var(--roxo-transparente);
  padding: 1rem 0.5rem;
  color: var(--roxo);
  min-width: 200px;
}

.sectionGatos ul li .containerLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.sectionGatos ul li .containerLinks a,
.sectionGatos ul li .containerLinks i {
  text-decoration: none;
  color: var(--roxo);
  cursor: pointer;
}

.sectionGatos button {
  background-color: var(--amarelo);
  border: none;
  color: var(--roxo);
  border-radius: 5px;
  padding: 0.5rem;
  width: 50%;
  cursor: pointer;
}

.usuarioDados a {
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--roxo);
}

.stats {
  text-decoration: none;
  text-align: center;
  border-bottom: none;
  font-size: 0.8rem;
}

@media (min-width: 1024px) {
  .main {
    padding: 1rem 8rem;
  }
}
