#formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding: 0 2rem;
}

#formulario h2 {
  color: #9c528b;
  text-align: center;
}

.formContent {
  display: flex;
  flex-direction: column;
  color: #9c528b;
  gap: 0.3rem;
  width: 300px;
}

.formContent label {
  font-weight: 600;
}

.formContentText {
  display: flex;
  flex-direction: column;
}

.formContent small {
  font-size: 0.7rem;
}

::-webkit-input-placeholder {
  color: #9c528b;
  font-weight: 400;
}

input {
  display: flex;
  padding: 0.5rem;
  border: none;
  border-bottom: solid 1px #9c528b;
  width: 300px;
  font-family: "montserrat", sans-serif;
  color: #59656f;
}

input:focus {
  border: none;
  outline: none;
  border-bottom: solid 1px #ffc800;
}

input:active {
  border-top: none;
  border-bottom: solid 1px #ffc800;
}

select {
  width: 315px;
  border-radius: 15px;
  padding: 0.5rem;
  border: solid 1px #9c528b;
  color: #9c528b;
  scrollbar-color: #9c528b white;
}

select:hover {
  border: solid 1px #ffc800;
}

select:focus {
  border: solid 1px #ffc800;
}

select:active {
  border: solid 1px #ffc800;
}

option:checked {
  color: #59656f;
  background-color: #ffc800;
}

.cadastrar {
  padding: 0.5rem;
  margin: 0.8rem;
  background-color: #9c528b;
  border: none;
  font-weight: 800;
  font-family: "montserrat", sans-serif;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}

.cadastrar:hover {
  background-color: #ffc800;
  color: #59656f;
}

input:invalid:focus {
  border-bottom: solid 1px #ffc800;
}
