.nav {
  background-color: var(--roxo);

  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.nav img {
  width: 70px;
}

.MenuMobile {
  color: var(--amarelo);
  font-size: 1rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  position: relative;
}

.MenuMobile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 3px var(--amarelo);
}

.MenuMobile .bi {
  font-size: 1.5rem;
}

.MenuMobile ul {
  background-color: var(--roxo);
  color: var(--amarelo);
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 2rem;
  gap: 2rem;
  position: absolute;
  top: 2rem;
  right: 0;
  z-index: 100;
}

.MenuMobile ul li {
  font-weight: 600;
  text-transform: uppercase;
  color: #fafafa;
}

.MenuMobile a {
  text-decoration: none;
  color: var(--amarelo);
}
