.MenuDesk {
  background-color: #9c528b;
  max-width: 100vw;
  color: white;
}

.menuContainer {
  display: flex;
  padding: 1rem 6rem;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.logoContainer {
  width: 120px;
}

.MenuList {
  display: flex;
  align-items: center;
  gap: 5rem;
  font-size: 1rem;
}

.MenuList a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  font-weight: 600;
}

.MenuList a:hover {
  background-color: #f8b406;
  color: #1d1e2c;
  border-radius: 15px;
  transition: ease-in-out 0.3s;
}

.MenuList .logoContainer {
  font-size: 0.8rem;
  font-weight: 400;
}

.MenuList .userContainer {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 50px;
  height: 50px;
  color: #f8b406;
}

.MenuList .userContainer i {
  font-size: 2rem;
}

.MenuList .userContainer img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.MenuList .userContainer a {
  font-size: 0.8rem;
}

.MenuList .userContainer button {
  background-color: transparent;
  border: none;
  color: var(--amarelo);
  cursor: pointer;
}

.MenuList .logarContainer {
  font-size: 0.8rem;
}
