.erroInput {
  color: var(--erro);
  border-bottom: var(--erro) solid 1px;
}

.erroSpan {
  color: var(--erro);
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.button {
  padding: 0.5rem;
  margin: 0.8rem;
  background-color: #9c528b;
  border: none;
  font-weight: 800;
  font-family: "montserrat", sans-serif;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  transition: 0.2s ease-in-out;
}

.button:hover {
  background-color: #ffc800;
  color: #59656f;
}

.input {
  position: relative;
  width: 100%;
}

.olho {
  color: var(--roxo);
  font-size: 1.5rem;
  position: absolute;
  right: 0;
  bottom: 0;
}
